{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="container-fluid text-center">

        {% include 'home/navbar.html' %}

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>{{ page.name }}</h2>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" id="artist-card">
                <a href="{{ page.portfolio_link }}">
                    {% image page.photo width-400 as artist_photo %}
                    <img class="circle-image img-fluid" src="{{ artist_photo.url }}">
                </a>
            </div>
            <div class="col-sm-5" id="artist-blurb">
                <h4>About</h4>
                {{ page.blurb|richtext }}
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Portfolio Pieces</h4>
            </div>
        </div>

        <div class="row" id="images">
            {% for image in page.portfolio_pieces.all %}
                {% image image.image original as portfolio_piece %}
                {% image image.image fill-250x250 as thumbnail %}
                <div class="col-sm-4">
                    <a class="spotlight" href="{{ portfolio_piece.url }}">
                        <img class="img-fluid" src="{{ thumbnail.url }}">
                    </a>
                </div>
                {# three columns, and dont create an extra row on the last loop #}
                {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                    {# close the row div#}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>


    </div>



{% endblock %}

{% block extra_js %}
    <script src="{% static 'assets/js/spotlight.bundle.js' %}"></script>
{% endblock %}
