{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
{% endblock extra_css %}

{% block content %}

    <div class="container">

        {% include 'home/navbar.html' %}

        <!-- columns should be the immediate child of a .row -->
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <h1>{{ page.page_title }}</h1>
            </div>
            <div class="one column"></div>
        </div>
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <h3>{{ page.strapline }}</h3>
            </div>
            <div class="one column"></div>
        </div>


        {% for artist in page.get_children %}
            {% image artist.specific.photo fill-250x250 as thumbnail %}
            <div class="four columns" id="artist-card">
                <a href="{% pageurl artist %}">
                <h4>{{ artist.specific.name }}</h4>
                    <img class="circle-image" src="{{ thumbnail.url }}">
                </a>
            </div>
            {# three columns, and dont create an extra row on the last loop #}
            {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                {# close the row div#}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}


    </div>

{% endblock %}

