{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="container-fluid text-center">

        {% include 'home/navbar.html' %}

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="exhibition-card">
                {% image page.flyer_image width-800 as flyer_image %}
                <img class="img-fluid" src="{{ flyer_image.url }}">
                <h1>{{ page.page_title }}</h1>
                <h4>{{ page.strapline }}</h4>
            </div>
            <div class="col-sm-1"></div>
        </div>

        {% for block in page.page_stream %}
            {% if block.block_type == 'heading' %}
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <h2 class="block-{{ block.block_type }}">
                            {{ block.value }}
                        </h2>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            {% endif %}

            {% if block.block_type == 'paragraph' %}
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <p class="block-{{ block.block_type }}">
                            {{ block.value|richtext }}
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            {% endif %}

            {% if block.block_type == 'image' %}
                <div class="row">
                    {% image block.value width-800 as stream_block %}
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <img class="img-fluid block-{{ block.block_type }}" src="{{ stream_block.url }}">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row" id="images">
            {% for image in page.exhibition_images.all %}
                {% image image.image original as exhibition_image %}
                {% image image.image fill-250x250 as thumbnail %}
                <div class="col-sm-4">
                    <a class="spotlight" href="{{ exhibition_image.url }}">
                        <img src="{{ thumbnail.url }}">
                    </a>
                </div>
                {# three columns, and dont create an extra row on the last loop #}
                {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                    {# close the row div#}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'assets/js/spotlight.bundle.js' %}"></script>
{% endblock %}
