{% load wagtailcore_tags wagtailimages_tags %}

<nav class="row">
    <div class="twelve columns u-full-width">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% slugurl 'exhibitions' %}">Exhibitions</a></li>
            <li><a href="{% slugurl 'workshops' %}">Workshops</a></li>
            <li><a href="{% slugurl 'artists' %}">Artists</a></li>
            <li><a href="">Mission</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
</nav>
