{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
{% endblock extra_css %}

{% block content %}

    <div class="container">

        {% include 'home/navbar.html' %}

        <!-- columns should be the immediate child of a .row -->
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <h1>{{ page.page_title }}</h1>
            </div>
            <div class="one column"></div>
        </div>
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <h3>{{ page.strapline }}</h3>
            </div>
            <div class="one column"></div>
        </div>


        {% for workshop in page.get_children %}
            <div class="row">
                <div class="one column"></div>
                <a href="{% pageurl workshop %}">
                    <div class="ten columns" id="workshop-card">
                        <h2>{{ workshop.specific.page_title }}</h2>
                        <h4>{{ workshop.specific.strapline }}</h4>
                    </div>
                </a>
                <div class="one column"></div>
            </div>
        {% endfor %}


    </div>

{% endblock %}

