/* Navigation */
nav ul,
nav ul li {
  margin: 0px;
}

nav ul li {
  display: inline;
  float: left;
  position: relative;
}

nav ul li a {
  display: inline-block;
  line-height: 70px;
  padding: 0 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.08rem;
  color: #222222;
  text-decoration: none;
}

#exhibition-card {
  text-decoration: none;
  color: #222222;
}

#artist-card a {
  text-decoration: none;
  color: #222222;
}

#workshop-card {
  text-decoration: none;
  color: #222222;
}

#artist-blurb {
  padding-top: 10%;
}
