#exhibition-card {
  text-decoration: none;
  color: #222222;
}

#artist-card a {
  text-decoration: none;
  color: #222222;
}

#workshop-card {
  text-decoration: none;
  color: #222222;
}

#artist-blurb {
  padding-top: 5%;
}

.circle-image {
  border-radius: 50%;
}

